// out: ../build/gutentyp.css, compress: true, strictMath: true

// mixins
@import 'mixins.less';

.gutentyp-button () {
    display: block;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.33;
    text-decoration: none;
    box-sizing: border-box;    
}

.toolbar-button () {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.33;
    text-decoration: none;
    box-sizing: border-box;
    min-width: 50px;
    height: 50px;
    float: left;
    border: none;
    color: #242424;
    background-color: transparent;
    box-shadow: 0 0 0 fade(#000, 0.3);

    &:hover {
        background-color: #eee;
    }

    &:focus {
        outline: none; 
        box-shadow: 0 2px 2px rgba(0,0,0,0.3);    
    }
}

.group-button () {
    color: #fff;
    background-color: #242424;
    padding: 15px;
    border: none;
    .border-radius(5px);

    &:hover {
        background-color: #000;
        color: yellow;
    }
}

.gutentyp-toolbar-arrow () {
    position: absolute;
    left: 50%;
    display: block;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    content: "";
}

// /mixins

// main

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.gutentyp-hidden {
    display: none;
    visibility: hidden;
}


.gutentyp-editor {
    padding: 10px;
    border: 1px solid #C8C8C8;
    
    &:focus {
        outline: none; 
        box-shadow: 0 2px 2px rgba(0,0,0,0.3);    
    }
    
    div {
        margin-bottom: 10px;
    }
}

.gutentyp-toolbar {
    min-height: 50px;
    
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    
    &:after {
        clear: both;
    }
    
    button {
        .gutentyp-button();
        .toolbar-button();
    }
    
    .gutentyp-form {
        margin: 10px;
        
        label {
            color: #fff;
            margin-bottom: 5px;
        }
        
        input, textarea {
            margin-bottom: 10px;
            width: 300px;
        }
        
        button {
            float: right;
            margin-bottom: 10px;
        }
        
        .btn-cancel {
            float: right;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }    
}

/* components */

.gutentyp-component-color-block {
    display: block;
    width: 20px;
    height: 20px;
}

.gutentyp-component-color-label {
    width: 15px;
    height: 15px;
    background-color: #EE3DC2; /*#cd52bd*/ /*#FF369B*/
    margin-left: 7.5px;
}

/* groups */

// popup arrows
.gutentyp-toolbar-arrow-under {
    &:after {
        .gutentyp-toolbar-arrow();
        border-width: 8px 8px 0 8px;        
        top: 50px;
        border-color: #242424 transparent transparent transparent;
    }
}

.gutentyp-toolbar-arrow-over {
    &:before {
        .gutentyp-toolbar-arrow();
        border-width: 0 8px 8px 8px;
        top: -8px;
        border-color: transparent transparent #242424 transparent;
    }
}

.gutentyp-toolbar-group {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 3px #000;
    background-color: #242424;
    color: #fff;
    
    ul {
        margin: 0;
        padding: 0;
        
        li {
            float: left;
            margin: 0;
            padding: 0;
            list-style: none;
            
            button {
                .gutentyp-button();
                .group-button();
            }            
        }        
    }
    
    .gutentyp-form {
        margin: 10px;
        
        label {
            display: block;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            margin-bottom: 5px;
            color: #fff;
        }
        
        input, textarea {
            margin-bottom: 10px;
            width: 300px;
            color: #000;
        }
        
        button {
            .gutentyp-button();
            .group-button();
            float: right;
            margin-bottom: 10px;
            
            &.btn-cancel {
                float: right;
                margin-right: 10px;
            }
        }
        
        .alert {
            background-color: #FFD2D2;
            border: 1px solid #FFA8A8;
            color: #242424;
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            max-width: 300px;
            .border-radius(1px);
        }
    }
    
    &.active {
        visibility: visible;
//        .animate(pop-downwards, 160ms, forward, linear);
        transition: top .075s ease-out, left .075s ease-out;
    }
}
